// ==== Variable Fonts ==== //

@font-face {
  font-family: 'Red Hat Display';
  src: url('../asset/fonts/Red_Hat_Display/optimized/RedHatDisplay-VariableFont_wght.woff2')
      format('woff2'),
    url('../asset/fonts/Red_Hat_Display/optimized/RedHatDisplay-VariableFont_wght.woff')
      format('woff');
  font-weight: 300 900;
  font-style: normal;

  //   font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../asset/fonts/Red_Hat_Display/optimized/RedHatDisplay-Italic-VariableFont_wght.woff2')
      format('woff2'),
    url('../asset/fonts/Red_Hat_Display/optimized/RedHatDisplay-Italic-VariableFont_wght.woff')
      format('woff');
  font-weight: 300 900;
  font-style: italic;

  //   font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../asset/fonts/Roboto_Mono/optimized/RobotoMono-VariableFont_wght.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto_Mono/optimized/RobotoMono-VariableFont_wght.woff')
      format('woff');
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../asset/fonts/Roboto_Mono/optimized/RobotoMono-Italic-VariableFont_wght.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto_Mono/optimized/RobotoMono-Italic-VariableFont_wght.woff')
      format('woff');
  font-weight: 300 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../asset/fonts/Inconsolata/optimized/Inconsolata-VariableFont_wdth\,wght.woff2')
      format('woff2'),
    url('../asset/fonts/Inconsolata/optimized/Inconsolata-VariableFont_wdth\,wght.woff')
      format('woff');
  font-weight: 200 900;
  font-style: normal;
}

// ==== Non-variable fonts ==== //

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 100;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-thin-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-thin-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 300;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-light-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-light-webfont.woff')
      format('woff');

  //   font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-regular-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-regular-webfont.woff')
      format('woff');

  //   font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 500;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-medium-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-medium-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 700;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-bold-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-bold-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 900;
  src: url('../asset/fonts/Yantramanav/optimized/yantramanav-black-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Yantramanav/optimized/yantramanav-black-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../asset/fonts/Roboto/optimized/roboto-thin-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-thin-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../asset/fonts/Roboto/optimized/roboto-light-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-light-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../asset/fonts/Roboto/optimized/roboto-regular-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-regular-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../asset/fonts/Roboto/optimized/roboto-medium-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-medium-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../asset/fonts/Roboto/optimized/roboto-bold-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-bold-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../asset/fonts/Roboto/optimized/roboto-black-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-black-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('../asset/fonts/Roboto/optimized/roboto-thinitalic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-thinitalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../asset/fonts/Roboto/optimized/roboto-lightitalic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-lightitalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../asset/fonts/Roboto/optimized/roboto-italic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-italic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../asset/fonts/Roboto/optimized/roboto-mediumitalic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-mediumitalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../asset/fonts/Roboto/optimized/roboto-bolditalic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-bolditalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../asset/fonts/Roboto/optimized/roboto-blackitalic-webfont.woff2')
      format('woff2'),
    url('../asset/fonts/Roboto/optimized/roboto-blackitalic-webfont.woff')
      format('woff');
}

// Unused for now
// @font-face {
//   font-family: 'Noto Serif';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../asset/fonts/Noto_Serif/NotoSerif-Regular.ttf');
// }

// @font-face {
//   font-family: 'Noto Serif';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../asset/fonts/Noto_Serif/NotoSerif-Bold.ttf');
// }

// @font-face {
//   font-family: 'Noto Serif';
//   font-style: italic;
//   font-weight: 400;
//   src: url('../asset/fonts/Noto_Serif/NotoSerif-Italic.ttf');
// }

// @font-face {
//   font-family: 'Noto Serif';
//   font-style: italic;
//   font-weight: 700;
//   src: url('../asset/fonts/Noto_Serif/NotoSerif-BoldItalic.ttf');
// }
