@import './settings.scss';

.title {
	font-size: 2.8rem;
	font-weight: 400;
	font-family: $header-text;
	margin-bottom: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.drumset-image {
  width: auto;
  max-height: 40rem;
  max-width: 35rem;
  /* margin: auto; */
  justify-self: right;

	> div {
		position: unset !important;
	}

	img {
		object-fit: contain;
		height: 100% !important;
		position: relative !important;
	}
}

@media only screen and (max-width: $tablet-breakpoint) {
	.title {
		font-size: 2.4rem;
		margin: 34px 0 !important;
		font-weight: 400;
	}

	.drumset-image {
    max-width: 80vw;
    justify-self: center;
  }
}