html,
body {
  font-family: 'Inconsolata', Monaco, "Lucida Console", Consolas, "Courier New", "Helvetica Neue";
	background-color: #f9f9f9;
  position: relative;
  /* background-image: url('/img/background.svg'); */
  /* background-repeat: no-repeat; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background-callout {
  position: absolute;
  opacity: 0.8;
  max-width: 30vw;
}

#first-callout {
  top: 6%;
  margin-left: 1rem;
}

#second-callout {
  top: 82%;
  right: 5%;
  /* margin-left: 5rem; */
}

@media only screen and (max-width: 750px) {
  .background-callout {
    width: 10rem;
  }

  #first-callout {
    top: 2.5%;
    margin-left: 1rem;
  }

  #second-callout {
    top: 99%;
    right: 1rem;
    /* margin-left: 5rem; */
  }
  
}