// Breakpoints
$mobile-breakpoint: 1050px;
$tablet-breakpoint: 768px;

// Colors
$off-white: #f9f9f9;

// Fonts
$main-sans:  "Red Hat Display", "Roboto", Arial, Helvetica, sans-serif;
$header-text: "Yantramanav", Arial, Helvetica, sans-serif;